* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #ffdd83;
}

tr {
  display: flex;
}

td {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}

tr > td:nth-child(even) {
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

tr:nth-child(even) > td {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}
